:root {
    --primary-color: rgb(93, 83, 164);
    --secondary-color: green;
    --accent1-color: rgb(52, 50, 50);
    --accent2-color: white;
    --heading-font: "times new roman", "georgia", sans-serif;
    --body-font: arial, helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color)
}

h2 {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    text-align: center;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;

}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
    text-align: center;

}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 70%;
    background-color: var(--secondary-color);
    color: black;
}

.hero article {
    position: absolute;
    top: 80px;
    background-color: white;
    opacity: 70%;

}

.hero article img {
    float: right;
    width: 125px;
    border: 1px;
    margin: 10px;
    box-shadow: 5px 5px 10px gray;
}

article p {
    width: 80%;
}