:root {
    --primary-color: rgb(93, 83, 164);
    --secondary-color: black;
    --accent1-color: rgb(52, 50, 50);
    --accent2-color: white;
    --heading-font: "times new roman", "georgia", sans-serif;
    --body-font: arial, helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
.grid,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 25% 1fr;
    background-color: whitesmoke;
    border: 2px dashed black;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color)
}

h2 {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    text-align: center;
}

h3,
h4,
h5 {
    margin: 0 auto;
    text-align: center;
    padding: 1px;

}

h3 {
    margin-top: 10px;
}

h5 {
    margin-bottom: 10px;
    font-size: medium;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;

}

nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    padding-top: 50px;

}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
    text-align: center;

}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    padding-top: 10px;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 70%;
    background-color: var(--secondary-color);
    color: var(--accent2-color);
}

.hero article {
    position: absolute;
    top: 80px;
    background-color: white;
    opacity: 70%;

}

.hero article img {
    float: right;
    width: 125px;
    border: 1px;
    margin: 10px;
    box-shadow: 5px 5px 10px gray;
}

article p {
    width: 80%;
}

.grid {
    display: flex;
    grid-template-columns: repeat(3 1fr);
    align-items: center;
    width: 100%;
}

figure {
    text-align: center;

}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

li a {
    text-decoration: none;
    color: var(--secondary-color);
    list-style-type: none;
}

.flex {
    display: flex;
}

.flex img {
    width: 95%;
    padding-top: 10px;

}

footer img {
    width: 50px;
}

form {
    background-color: whitesmoke;
    padding: 1rem;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 650px;
    border: 2px solid rgb(0, 0, 0, .1);
    display: grid;
    margin-bottom: 10px;

}

button {
    padding: 5px;
    background-color: lightgrey;
}

fieldset {

    gap: 1px;
    margin: 1rem;
    border: none;
    padding: 1px;
    text-align: center;
}

legend {
    text-align: left;
    padding: 1px;
}

label {
    text-align: left;
    padding-left: 1rem;
}

input,
select,
textarea {
    padding: 2px;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

label[for="subscribe"] {
    text-align: center;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 1fr 3fr;
    margin: .5em 0;
}

.column2 {
    grid-template-columns: 3fr 1fr;
    margin: .5em;
}

button,
input {
    border-radius: 5px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

iframe {
    margin: 10px;
}

\.flex2,
h6 {
    border: 1px solid black;
}

h6 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    border-bottom: none;
}

.employee {
    display: flex;
}

.flex2 {
    display: flex;
    border: 1px solid black;
    border-top: none;
}

.flex2 img {
    width: 70%;
    padding-top: 10px;

}